.DS_STORE
cache/
artifacts/
exports/
deploy/
hbs/

coverage*
scripts/
.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost
